
@{
    ViewBag.Title = "UpdateStock";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

    <div class="jumbotron text-center">
        <h1 class="display-3">Your Stock Is Updated! Go To Your Profile To Check Your Stock</h1>
        <hr>
        <p>
            Having trouble? <a href="">Contact us</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Continue to homepage</a>
        </p>
    </div>

