@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ ConsommiTounsi.Models.UserRegisterModel user = (ConsommiTounsi.Models.UserRegisterModel)Session["User"];}
@if (user != null)
{
    if (user.role == "Admin")
    {
        <h2>Home page</h2>
    }
}
